# Default ignored files
/shelf/
/.idea/workspace.xml
target/

.idea/

.vscode/

*.class

*.log

.env

terraform.tfstate

terraform.tfstate.backup

.terraform/

*.iml

node_modules/

*.jar

coverage/

.DS_Store



